@import 'sakura.scss';
article,
header,
footer {
  background-color: var(--color-bg-card);
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em 0.2em #00000011;
}
body > svg {
  background-color: transparent;
  margin-bottom: -2em;
}
h1 {
  color: var(--color-blossom);
  font-family: 'Fredoka One';
  font-size: 4em;
  text-align: center;
}
.feather {
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.175em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
nav > button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  padding: 0.1em;
  background-color: transparent;
  border: none;
  &:hover:enabled {
    background-color: transparent;
  }
  &:focus:enabled {
    background-color: transparent;
  }
}
button > .dm {
  width: 2em;
  height: 2em;
  stroke: var(--color-blossom);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transition: all 150ms;
  transform: scale(1);
  &:hover {
    stroke: var(--color-fade);
    transform: scale(1.1);
  }
}
#socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  a {
    margin: 0.2em 0.2em;
  }
}
a {
  color: var(--color-link);
  background-color: var(--color-link-bg);
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: var(--link-bd, 0px);
}
#portrait {
  border-radius: 50%;
}
#services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  & > h2 {
    margin: 0.5rem 1.5rem;
  }
}
#bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  & > * {
    max-width: 45%;
  }
  @media screen and (max-width: 684px) {
    flex-wrap: wrap;
    & > * {
      max-width: 100%;
    }
    & > #portrait {
      max-width: 50%;
    }
  }
}
