:root {
  --font-family-base: Work Sans;
  --font-size-base: 1.6rem;
  --color-text: #2c3137;
  --color-bg: #95e0ec;
  --font-family-heading: Quicksand;
  --color-blossom: #d34f73;
  --color-fade: #f383a2;
  --color-bg-alt: #ffeafd;
}
