@use "sass:color";
@use './reset';
$desktop-font-size: 24px;
$mobile-font-size: 12px;
$print-font-size: 12pt;
$white: #e0e0e0;
$grey: #c6ccd7;
$light-red: #F384A2;
$medium-red: #D34F73;
$dark-red:#AB2F51;
$darker-red: #8a0f30;
$dark-grey:#21252B;
$black:#0D1117;
$pure-white:#fff;
$pure-black:#000;
$body-font: Work Sans ;
$heading-font: Quicksand;
$color-text: $grey;
$color-bold: $light-red;
$color-bg: $black;
$color-card-bg: $dark-grey;
$color-button: $medium-red;
$color-button-text: $pure-white;

:root {
  --font-base: #{$body-font};
  --font-heading: #{$heading-font};
  --color-text: #{$color-text};
  --color-dark-bg:#{$color-bg};
  --color-bold: #{$color-bold};
  --color-bold-hover: #{$medium-red};
  --color-heading: #{$light-red};
  --color-heading-subtle: #{$medium-red};
  --color-bg: #{$color-bg};
  --color-card-bg: #{$color-card-bg};
  --color-button: #{$color-button};
  --color-button-hover: #{$dark-red};
  --color-button-text: #{$color-button-text};
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
  font-family: var(--font-base, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif);
  @media screen and (max-width: 700px) {
    font-size: 14px;
  }
  @media print, (prefers-color-scheme: light) {
    font-size: 12pt;
    --color-text: #{$dark-grey};
    --color-heading: #{$dark-red};
    --color-heading-subtle: #{$medium-red};
    --color-bg: #{$grey};
    --color-card-bg: #{$white};
    --color-bold: #{$dark-red};
    color: var(--color-text);
  }
}

body {
  max-width: 64rem;
  margin: auto;
}
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  hyphenate-character: "-";
  max-width: 40rem;
}

h1,h2,h3 {
  font-family: var(--font-heading);
  font-weight: bold;
  @include word-wrap();
  hyphens: none;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: var(--color-heading);
}
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  color: var(--color-heading-subtle);
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-family: var(--font-base);
  font-weight: bold !important;
  font-size: 1rem;
  line-height: 1.5rem;
  @include word-wrap();
}
p {
  margin-bottom: 2rem;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  hyphens: none;
  max-width: 60ch;
  font-size: 1.2rem;
  line-height: 2rem;
}
a:not(.button) {
  text-decoration: underline;
  color: var(--color-bold);
  transition: all 150ms;
  &:hover {
    color: var(--color-bold-hover);
  }
}

img {
  height: auto;
  max-width: 100%;
  margin: 1em auto;
}

.button,button,input[type='button'] {
  display: inline-block;
  padding: 0.5em 0.5em;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  background-color: var(--color-button);
  color: var(--color-button-text);
  border-radius: 0.25em;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  transition: all 150ms;

  &:hover {
    background-color: var(--color-button-hover);
    
  }
  &:focus {
    outline: var(--color-bg) solid 2px;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
body {
  max-width: min(800px,90vw);
  background-color: var(--color-bg);
}