@import url('./tokens.css');
@import url('@fontsource/quicksand/latin.css');
@import url('@fontsource/lora/latin.css');

:root {
	line-height: 1.5;
	font-size: 20px;
	font-family: Fredoka, sans-serif;
}

* {
	max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
	color: var(--text);
}

p {
	font-size: var(--s0);
}

h3 {
	font-style: var(--s3);
}

h2 {
	font-style: var(--s4);
}

h1 {
	font-style: var(--s5);
}

* + * {
	margin-block-start: 0;
}

.stack > * + * {
	margin-block-start: 1.5em;
}

.center {
	box-sizing: content-box;
	max-inline-size: var(--measure);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: var(--s1);
}
