:root {
	/* Base */
	--red100: #300001;
	--red200: #60030c;
	--red300: #8e172d;
	--red400: #b8384d;
	--red500: #d9606b;
	--red600: #ed8e93;
	--red700: #f9bdbf;
	--red800: #feedee;
	--brown100: #16100b;
	--brown200: #392a1c;
	--brown300: #5c432d;
	--brown400: #836040;
	--brown500: #ab7e54;
	--brown600: #d39e6d;
	--brown700: #e5c7aa;
	--brown800: #f8efe8;
	--yellow100: #161005;
	--yellow200: #372b14;
	--yellow300: #574624;
	--yellow400: #7b6437;
	--yellow500: #a0834c;
	--yellow600: #c7a464;
	--yellow700: #ecc783;
	--yellow800: #fff0ca;
	--gray100: #0d1117;
	--gray200: #292d34;
	--gray300: #434952;
	--gray400: #606874;
	--gray500: #808796;
	--gray600: #a1a9ba;
	--gray700: #c7ccd7;
	--gray800: #f0f1f4;
	--green100: #0c1406;
	--green200: #223117;
	--green300: #394e28;
	--green400: #526f3c;
	--green500: #6d9152;
	--green600: #8bb56d;
	--green700: #afd892;
	--green800: #e5f6d9;
	--purple100: #1a0c23;
	--purple200: #3a224a;
	--purple300: #5c3974;
	--purple400: #8254a1;
	--purple500: #a671cc;
	--purple600: #c893ef;
	--purple700: #e3beff;
	--purple800: #f7edff;
	--cyan100: #021518;
	--cyan200: #0a3237;
	--cyan300: #154f56;
	--cyan400: #25717a;
	--cyan500: #39939e;
	--cyan600: #56b6c2;
	--cyan700: #8bd8e3;
	--cyan800: #e0f5f8;
	--blue100: #0a1319;
	--blue200: #1a2f40;
	--blue300: #294b66;
	--blue400: #3c6b93;
	--blue500: #4e8cc0;
	--blue600: #62afef;
	--blue700: #a5d1f6;
	--blue800: #e6f3fd;
	--key-color: var(--red400);
	--key-shade: var(--red300);
	--key-tint: var(--red500);

	/* Main Set */
	@media (prefers-color-scheme: light) {
		--key-color: var(--red300);
		--key-shade: var(--red200);
		--key-tint: var(--red400);
	}
}
