<section class="aoc-container" style="display:none">
  <p>Ruby would like to acknowledge the Traditional owners of the lands she works on, the
    Wirrundjuri People of the Kulin Nations and would like to pay respects to their Elders both
    past, present and emerging. </p>
  <p>Sovereignty was never ceded, It was and always will be, Aboriginal land.</p>
  <p><strong>Organisations you can pay the rent to:</strong></p>
  <ul>
    <li><a href="https://www.gofundme.com/f/bfvnvt-freethepeople" target="_blank">Sisters
        Inside</a></li>
    <li><a href="https://www.vals.org.au/donate/" target="_blank">Victorian Aboriginal Legal
        Service</a></li>
    <li><a href="https://blackrainbow.org.au/donate/" target="_blank">Black Rainbow</a></li>
  </ul>
  <button style="width: max-content;" id="close-aoc" disabled>Close</button>
  <script>
    import '../scripts/acknowledge-country'
  </script>
</section>