---
import {Icon} from 'astro-icon/components';

export interface Props {
	icon: string;
	id: string;
	link: string;
}
const { icon, id, link } = Astro.props as Props;
---

<a
	href={link}
	id={id}
	target="_blank"
	rel="external noreferrer me"
	class="button with-icon"
>
	<Icon name={icon} class="icon" />
	<slot />
</a>
