{% set reset %}
    {% include './css/reset.css' %}
{% endset %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{g.description}}">
  <meta property="og:type" content="profile">
  <meta property="og:url" content="{{g.websiteUrl}}">
  <title >Ruby Quail Design</title>
  <style>
    {{reset | cssmin}}
  </style>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;700&family=Work+Sans:ital@0;1&display=swap" preload>
  {% for sz in [16,32,96]%}
    <link rel="icon" href="/icons/logo{{sz}}.png" type="image/png" sizes="{{sz}}x{{sz}}">
  {% endfor %}
</head>
<body>
  Red
</body>
</html>